body {
  background-color: #BDBDBE;
}

.header-contact {
  display: flex;
  justify-content: space-between;
}

.lng {
  position: relative;
}

.lng:hover .lng-list-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.lng-link {
  color: black;
  text-decoration: none;
  position: relative;
  padding-right: 5px;
}

.lng-link:after {
  position: absolute;
  content: '';
  left: 100%;
  top: calc(50% + 4px);
  transform: translateY(-50%);
  border: 4px solid transparent;
  border-top-color: black;
}

.lng-list-wrapper {
  padding-top: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
}

.lng-list {
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.lng-list a {
  display: block;
  padding: 5px 10px;
  color: blueviolet;
  text-decoration: none;
}

.catalog {
  display: flex;
  margin: 0 40px;
}

.catalog_body {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: 216px auto
}


.catalog_content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.catalog_content_product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
